<p>Program Studi Sarjana (S1) Jurusan Administrasi Publik terakreditasi A oleh Badan Akreditasi Nasional Perguruan
    Tinggi (BAN PT). Sertifikat akreditasi program sarjana berlaku sejak 23 Mei 2017 sampai dengan 23 Mei 2022.
<p>

<style>
    p {
        text-align: justify;
    }
</style>