<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/budiman-rusli-fisip-png.png" /></figure>
    <h4>Prof. Dr. Drs. H. Budiman Rusli, M.S.</h4>
    <p>Kebijakan Publik, Administrasi Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/entang-adhy-muhtar.jpg" /></figure>
    <h4>Dr. Drs. H. Entang Adhy Muhtar, M.S.</h4>
    <p>Organisasi Publik, Pembangunan Daerah, Kebijakan Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/heru-nurasa.jpg" /></figure>
    <h4>Dr. Drs. H. Heru Nurasa, M.A.</h4>
    <p>Organisasi Publik, Pembangunan Daerah, Kebijakan Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/rita-myrna.jpg" /></figure>
    <h4>Dr. Dra. Rita Myrna, M.S.</h4>
    <p>Manajemen dan Kebijakan Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/herijanto-bekti.jpg" /></figure>
    <h4>Dr. Drs. Herijanto Bekti, M.Si.</h4>
    <p>Administrasi Publik dan Kebijakan Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/didin-muhafidin.jpg" /></figure>
    <h4>Dr. Didin Muhafidin, S.IP., M.Si.</h4>
    <p>Administrasi Publik dan Kebijakan Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/asep-sumaryana.jpg" /></figure>
    <h4>Dr. Drs. Asep Sumaryana, M.Si.</h4>
    <p>Manajemen Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/erlis-karnesih.jpg" /></figure>
    <h4>Prof. Dr. Dra. Hj. Erlis Karnesih,</h4>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/Sudirman.jpg" /></figure>
    <h4>Sudirman Soeyoso Putro, S.H., M.AP</h4>
    <p>Hukum Administrasi Negara</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/neneng-weti.jpg" /></figure>
    <h4>Dra. Neneng Weti Isnawaty, M.Si</h4>
    <p>Administrasi Publik dan Kebijakan Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/Slamet-Usman-Ismanto.jpg" /></figure>
    <h4>Dr. Slamet Usman Ismanto, M.Si.</h4>
    <p>Administrasi Pembangunan, Pengembangan Wilayah, Pengembangan Pariwisata</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/sintaningrum.jpg" /></figure>
    <h4>Dr. Dra. Hj. Sintaningrum, M.T.</h4>
    <p>Kebijakan Publik (agraria), Manajemen Publik/Pertumbuhan Wilayah, Administrasi Publik dan Kebijakan Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/sawitri-budi-utami.jpg" /></figure>
    <h4>Dr. Sawitri Budi Utami, S.IP., M.Si</h4>
    <p>Organisasi Publik, Perilaku Organisasi, Struktur dan Desain Organisasi, Kapasitas Organisasi, Organizational
        Development</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/ira-irawati.jpg" /></figure>
    <h4>Dr. Dra. Hj. R. Ira Irawati, M.Si.</h4>
    <p>Human Resources Management in Public Sector</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/ida-widianingsih.jpg" /></figure>
    <h4>Ida Widianingsih, S.IP., M.A., Ph.D</h4>
    <p>Development Studies, Rural Development, Regional Develpoment, Urban and Regional Planning, Sustainable Urban
        Communities, Public Governance</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/ahmad-buchari-1.jpg" /></figure>
    <h4>Dr. Rd. Ahmad Buchari, S.IP., M.Si.</h4>
    <p>Administrasi Publik dan Kebijakan Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/nina-karlina.jpg" /></figure>
    <h4>Dr. Nina Karlina, S.IP.,M.Si.</h4>
    <p>Organisasi Publik, Kebijakan Publik, Pelayanan Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/Pak-Darto.jpg" /></figure>
    <h4>Dr. Darto, S.IP., M.Si.</h4>
    <p>Administrasi Publik dan Kebijakan Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/197410012006042001-Candradewini.jpg" /></figure>
    <h4>Dr. Candradewini, S.IP.,M.Si.</h4>
    <p>Manajemen SDM Publik, Pengembangan Organisasi Publik dan Administrasi Perpajakan</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/mas-halimah.jpg" /></figure>
    <h4>Dr. Mas Halimah, S.IP., M.Si</h4>
    <p>Kebijakan Publik dan MSDM</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/tomi-setiawan.jpg" /></figure>
    <h4>Tomi Setiawan, S.IP., M.Si</h4>
    <p>Development Studies, Rural Development, Regional Develpoment, Urban and Regional Planning, Sustainable Urban
        Communities, Public Governance</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/dedi-sukarno.jpg" /></figure>
    <h4>Dr. Dedi Sukarno, S.IP., M.Si</h4>
    <p>Pengembangan Organisasi Publik, Manajemen Pelayanan Publik, Desentralisasi, Metode Penelitian</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/enjat-munajat.jpg" /></figure>
    <h4>Dr. M. D. Enjat Munajat, S.Si., M.TI.</h4>
    <p>Teknologi Komunikasi dan Informasi Pada Sektor Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/Yogi.jpg" /></figure>
    <h4>Yogi Suprayogi Sugandi, S.Sos., M.A., Ph.D</h4>
    <p>Kebijakan Publik, Reformasi Birokrasi dan Local Governance, Human Resources Management In Public Sector, Urban
        and Sosiology Of Development</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/elisa-susanti.jpg" /></figure>
    <h4>Dr. Elisa Susanti, S.IP., M.Si</h4>
    <p>Manajemen Publik , Keuangan Publik, Ekonomi Sektor Publik, ICT Pada Sektor Publik, Collaboration dan Network in
        Public Administration</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/ramadhan-pancasilawan.jpg" /></figure>
    <h4>Dr. Ramadhan Pancasilawan, S.Sos., M.Si</h4>
    <p>Kebijakan Sosial, Kebijakan Publik, Manajemen Konflik, Mitigasi Bencana, HSO dan Manajemen Publik / Manajemen
        Program dan Layanan</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/imanudin-kudus.jpg" /></figure>
    <h4>Imanudin Kudus, S.IP., M.Si</h4>
    <p>Human Resources Management in Public Sector</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/bonti.jpg" /></figure>
    <h4>Bonti, S.IP., M.AP</h4>
    <p>Administrasi Publik dan Kebijakan Publik</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/nunung-runiawati.jpg" /></figure>
    <h4>Nunung Runiawati, S.IP., M.Si</h4>
    <p>Public Finance / Local Finance</p>
</article> <br>
<article>
    <figure><img src="file:///android_asset/dosen-tendik-images/hilman-abdul-halim.jpg" /></figure>
    <h4>Hilman Abdul Halim, S.IP., M.AP</h4>
    <p>Administrasi Publik dan Kebijakan Publik</p>
</article> <br>

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    p,
    h4 {
        text-align: center;
    }
</style>