<p><strong>Akreditasi:</strong> A<br><strong>E-mail:</strong> adm.negara@unpad.ac.id<br><strong>Fakultas:</strong> Ilmu
    Sosial dan Ilmu Politik<br><strong>Website: </strong><a
        href="http://admpublik.fisip.unpad.ac.id">http://admpublik.fisip.unpad.ac.id</a></p>
<style>
    p {
        text-align: justify;
    }
</style>