<p>Kurikulum Program Studi Administrasi Publik FISIP Unpad dirancang untuk  menghasilkan lulusan yang akan menguasai
    pengetahuan yang mendalam dan kekinian mengenai  teori dan aplikasi Administrasi Publik yang sesuai dengan visi,
    misi, tujuan dan sasaran Program Studi sesuai dengan  perkembangan <em>state of the art</em> administrasi publik
    yang mampu bersaing secara global. Semua ini dilakukan bersama Asosiasi yaitu IAPA dalam penyusunan kompetensi
    lulusan Administrasi Publik, yaitu meliputi:</p>
<p>Kompetensi Utama</p>
<ol>
    <li>Menguasai konsep dan teori tentang mendesain dan mengelola organisasi sektor publik, mengimplementasi kebijakan
        publik, mengelola pelayanan dan partisipasi publik sebagai landasan dalam menghadapi berbagai isu dan fenomena
        Administrasi Publik baik dalam konteks kebijakan pemerintah ataupun dalam praktik di masyarakat
        sebagai <em>stakeholders </em>Program Studi. Melalui penguasaan teori, pengetahuan tentang posisi, fungsi dan
        praktik Administrasi Publik dalam berbagai <em>setting</em>organisasi baik pemerintah, swasta ataupun masyarakat
        akan tercapai dengan baik.</li><br>
    <li>Mampu memformulasikan alternatif penyelesaian masalah prosedural terkait dengan efektivitas dan efisiensi
        organisasi dan manajemen sektor publik.</li><br>
    <li>Mampu merumuskan dan mengkomunikasikan alternatif solusi yang berada di luar kewenangannya kepada pimpinannya
    </li><br>
    <li>Menguasai metode dan teknik analisis kualitatif dan kuantitatif untuk Administrasi Publik.</li><br>
    <li>Menguasai teori, praktik, etika, dan memiliki integritas dalam pelaksanaan Administrasi Publik.</li><br>
    <li>Mampu memanfaatkan teknologi informasi dalam: mendesain dan mengelola organisasi sektor publik, mengimplementasi
        kebijakan publik, mengelola pelayanan dan partisipasi publik.</li><br>
    <li>Mampu menyelesaikan masalah dengan mengambil inovasi kebijakan berupa diskresi sesuai dengan kewenangannya.</li>
    <br>
    <li>Mampu merancang proses pembuatan keputusan yang bisa digunakan dalam suatu kebijakan publik.</li><br>
    <li>Mampu melaksanakan tupoksi secara efektif dan efisien dengan menggunakan informasi dan kemampuan analisis yang
        dimilikinya.</li><br>
    <li>Mampu mengelola sektor publik untuk mewujudkan nilai-nilai publik: efisiensi, efektivitas, berkeadilan, dan
        demokrasi baik secara individual maupun tim.</li>
</ol>

<style>
    p,
    li {
        text-align: justify;
    }
</style>