<table>
    <tbody>
        <tr>
            <td>SEMESTER I</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>NO</td>
            <td>MATA KULIAH</td>
            <td>SKS</td>
            <td>DESKRIPSI MATA KULIAH</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Dasar-dasar Ilmu Administrasi</td>
            <td>3</td>
            <td>Mata kuliah ini menguraikan tentang pengertian dasar administrasi, sejarah asal usul administrasi,
                filosofi administrasi, administrasi sebagai ilmu dan juga sebagai seni, sistematika ilmu administrasi,
                peran penting administrator, asas-asas administrasi, fungsi-fungsi administrasi, pengenalan teori
                administrasi, hingga pada pengenalan teori pembuatan keputusan. Matakuliah ini juga memberikan
                pembahasan pada berbagai aspek studi ilmu administrasi yang berkembang pada situasi dan kondisi
                kontemprorer</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Agama</td>
            <td>2</td>
            <td>Mata kuliah ini merupakan mata kuliah umum/pengembangan kepribadian yang diberikan kepada semua
                mahasiswa pada semua program studi pendidikan yang ada di Universitas Padjadjaran. Dalam perkuliahan ini
                dibahas materi-materi mengenai: Makna, Tujuan dan Metode memahami Islam; Manusia, Agama dan Islam;
                Keimanan dan Ketaqwaan; Al Quran: Sumber Hukum pertama dan utama; As-Sunnah Sumber Hukum Islam yang
                kedua; Ijtihad Sumber Hukum Islam yang ke tiga; Syariah: Fiqh dan hukum Islam; Ibadah: aspek ritual umat
                Islam; Akhlak dan tasawuf; Makanan dan minuman dalam Islam; Konsep keluarga Islami dan mawaris dalam
                Islam; Amar Maruf Nahyi Munkar dan jihad; Mata kuliah ini membahas tentang : Makna agama islam, Makna
                tujuan hakekat islam,  Sumber agama Islam, Hakekat manusia, Kedudukan manusia, Proses pembentukan
                masyarakat,  Budaya-budaya masyarakat,   Hubungan ibadah dengan kehidupan bermasyarakat ,  Konsep islam
                tentang kerukunan &amp; pentingnya kerukunan</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Bahasa Indonesia</td>
            <td>2</td>
            <td>Mata Kuliah ini merupakan Mata Kuliah dasar umum yang memberikan keterampilan dasar bagi mahasiswa untuk
                menyusun karya tulis ilmiah dalam perspektif Administrasi Publik berdasarkan Kaidah-Kaidah berbahasa
                Indonesia yang baik dan benar </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Bahasa Inggris</td>
            <td>2</td>
            <td>Mata kuliah Bahasa Inggris merupakan bagian dari Kemampuan Belajar dan Literasi informasi dalam bidang
                Kajian Administrasi Publik. Mahasiswa diharapkan mampu dan menguasai Reading and
                comprehension; Translation juga ditekankan pada usaha melatih kemampuan menerjemahkan Bahasa Indonesia
                ke Bahasa Inggris; Grammar: Tenses, Passive Voice, Special Finites, serta Vocabulary. Mahasiswa
                diharapkan mampu menulis artikel ilmiah berbahasa Inggris.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Olah Raga, Kesenian &amp; Kewirausahaan</td>
            <td>3</td>
            <td>Olah-raga, kesenian dan  kreativitas merupakan mata kuliah yang diselenggarakan pada semester I pada
                Tahap Persiapan Belajar (Happiness Integartion Transition Study ). Mata Kuliah OKK diselenggarakan
                dengan metoda pembelajaran Project Based Learning, Creativity Based Learning dan Contextual Learning.
            </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Penyelenggaraan kuliah ini dimaksudkan untuk memperkenalkan Olah-raga, kesenian, kreativitas  sebagai
                media dalam mengintegrasikan berbagai keterampilan dasar yang perlu dikuasai mahasiswa dalam kaitannya
                dengan penumbuhan Pola Ilmiah Pokok  Universitas Padjadjaran yakni Bina Mulia Hukum dan Lingkungan
                Hidup. </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Dalam pelaksanaannya ditekankan pada penanaman karakter dasar leadership yang dimulai untuk saling
                mengenal, membangun relasi interpersonal, membangun kerjasama tim yang dalam prosesnya juga dibangun
                untuk  mampu mengenali lingkungan sekitarnya dengan eksplorasi, konsolidasi dan tindak lanjut melalui
                beragam kegiatan kreatif berbasis olah raga dan kesenian untuk pengembangan karakter mahasiswa Unpad.
            </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Konsep </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Nganjang ka lembur: </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Menggagas kerja, mencipta masa depan desa di kecamatan Jatinangor, Garut, dan Pangandaran</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Tujuan</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Menjalin tali silaturahmi yang erat antara warga Unpad umumnya, dan khususnya Mahasiswa Baru Tahun
                2018 dengan warga desa-desa di Jatinangor, Garut, dan pangandaran.</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Menggali pengetahuan tentang kehidupan masyarakat pedesaan yang berada di tengah keragaman budaya,
                sosial, dan ekonomi.</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Menggagas kerja untuk menciptakan masa depan kehidupan pedesaan yang adaptatif terhadap perubahan,
                tetapi tetap menjunjung tinggi nilai-nilai budaya lokalnya.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Dasar-dasar Ilmu Politik</td>
            <td>3</td>
            <td>Mata Kuliah ini disajikan sebagai dasar untuk pengenalan lebih jauh tentang apa dan bagaimana politik
                yang sebenarnya. Secara spesifik, dalam pengenalan terhadap mata kuliah ini akan dikaji mengenai teori,
                konsep maupun analisis yang bersifat kritis terhadap 5 (lima) unsur pokok politik, yaitu; Negara,
                kekuasaan, kebijakan, authority of delegation, dan nilai-nilai politik. Dan seluruh esensi kajian yang
                tercakup dalam ilmu politik,sebagai refleksi dari realitas perkembangan ilmu politik dari awal munculnya
                pemikiran klasik hingga perkembangan kontemporer,dan praktek politik. Sifat penyajiannya general
                informatif, mengingat karakteristik matakuliah pengantar yang meletakan dasar-dasar menuju
                pada  pemahaman lebih lanjut dari semua kajinan matakuliah yang berprasyarat D DIP meliputi empat kajian
                utama,institusi politik,proses-proses politik,perilaku politik,dan perkembangan ilmu politik
                kontemporer.</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Dasar-dasar Ilmu Sosial</td>
            <td>3</td>
            <td>Mata kuliah ini memberikan pengetahuan dasar mengenai masalah sosial yang ada di masyarakat Indonesia,
                dengan menggunakan teori dan konsep dari berbagai bidang keahlian Administrasi Publik</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>SEMESTER II</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>NO</td>
            <td>MATA KULIAH</td>
            <td>SKS</td>
            <td>DESKRIPSI MATA KULIAH</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Teori Organisasi</td>
            <td>3</td>
            <td>Mata kuliah ini membahas tentang konsep dan pendekatan teori organisasi mikro dan makro, serta
                penerapannya pada organisasi publik, organisasi swasta, dan organisasi nirlaba</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Filsafat Ilmu &amp; Dasar-dasar Logika</td>
            <td>3</td>
            <td>Mata kuliah ini membahas tentang konsep dasar filsafat ilmu, kedudukan, fokus, cakupan, tujuan dan
                fungsinya. Selanjutnya dibahas tentang sistematika, permasalahan, keragaman pendekatan dalam pengkajian
                dan pengembangan ilmu serta dimensi ontologis, epistemologis, dan aksiologis. Dibahas pula implementasi
                dan implikasi filsafat ilmu sebagai landasan dalam rangka pengembangan keilmuan dengan menggunakan
                metodologi penelitian baik kuantitatif maupun kualitatif maupun perpaduan keduanya.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Pengantar Ilmu Administrasi Publik</td>
            <td>3</td>
            <td>Mata kuliah ini menguraikan tentang pengertian publik; pengertian administrasi publik, organisasi publik
                dan manajemen publik; dasar pemikiran administrasi publik dan administrasi negara; perbedaan antara
                administrasi negara, administrasi publik, organisasi publik dan manajemen publik; elemen administrasi
                publik; fungsi inti administrasi publik; proses administrasi publik; paradigma administrasi publik;
                peran penting administrator publik, kebijakan publik; keuangan publik, birokrasi publik hingga praktika
                administrasi publik di Indonesia. Mata kuliah ini juga memberikan pembahasan pada berbagai aspek studi
                ilmu administrasi publik yang berkembang pada situasi dan kondisi kontemprorer</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Kewirausahaan</td>
            <td>3</td>
            <td>Dalam mata kuliah ini dibahas  mengenai konsep-konsep dasar kewirausahaan, proses berpikir kreatif dan
                inovatif yang dikaitkan dalam bidang Kajian Administrasi Publik. Sehingga mahasiswa dapat memiliki jiwa
                kewirausahaan (entreperneur) dala lingkungan kerjanya (intrapreneur), atau yang bekerja di bidang sosial
                (Sociopreneur) atapun yang memiliki konsentrasi di bidang lingkungan (ecopreneur).</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Sistem Hukum Indonesia</td>
            <td>3</td>
            <td>Mata kuliah ini akan menekankan pada aspek-aspek legal dalam pemerintahan. Pembahasan akan dimulai
                dengan sistem hukum Indonesia serta turunannya. Mahasiswa diharapkan dapat memahami memahami berbagai
                bentuk hukum yang berlaku di Indonesia.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Manajemen Sumber Daya Manusia</td>
            <td>3</td>
            <td>Mata kuliah MSDM membahas tentang konsep dan tantangan MSDM, beberapa pendekatan dalam mempelajari MSDM,
                tujuan, fungsi dan peran MSDM, rancangan organisasi dan analisis pekerjaan, analisis jabatan, rekruitmen
                pegawai,seleksi dan penempatan pegawai,pengembangan SDM, training orgainisasi,motivasi,integrasi,
                kompensasi dan insentif, kebijakan karier, penilaian kinerja dan disiplin pegawai serta tatacara
                penjatuhan sanksi disiplin,  performance appraisaldan pemberhentian pegawai.</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Sistem Administrasi Negara Kesatuan RI</td>
            <td>3</td>
            <td>Mahasiswa mampu menjelaskan mengenai pengertian dan konsep administrasi publik/negara sebagai suatu
                sistem serta permasalahan administrasi negara dalam Negara Kesatuan Republik Indonesia</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>SEMESTER III</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>NO</td>
            <td>MATA KULIAH</td>
            <td>SKS</td>
            <td>DESKRIPSI MATA KULIAH</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Ekonomi Sektor Publik</td>
            <td>3</td>
            <td>Pada mata kuliah ini mahasiswa belajar tentang konsep dasar ekonomi dan ekonomi makro, kegagalan pasar,
                fungsi pemerintah dalam ekonomi, kebijakan pemerintah dalam bidang ekonomi, serta cost and benefit
                analysis.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Perencanaan Sumber Daya Manusia</td>
            <td>4</td>
            <td>Mata kuliah Perencanaan sumber daya memberi pemahaman bagi mahasiswa mengenai analisis dan evaluasi
                jabatan, perencanaan taktis sumber daya manusia, faktor-faktor yang mempengaruhi permintaan sdm, proses
                perencanaan sdm, pengembangan sdm,perencanaan karier, perencanaan suksesi, strategi-strategi sdm, dalam
                kaitannya dengan organissi publik/privat.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Manajemen Pelayanan Publik</td>
            <td>3</td>
            <td>Mata kuliah ini membahas tentang pengertian Manajemen Pelayanan Publik, filosofi Manajemen Pelayanan
                Publik, ruang lingkup Manajemen Pelayanan Publik serta arti penting Manajemen Pelayanan Publik.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>E-Government</td>
            <td>3</td>
            <td>Mata kuliah ini berisikan materi yang berorientasi pada kemampuan mahasiswa untuk menganalisa
                perkebangan ICT untuk untuk pelayanan publik. Pada bagian ini dibagi menjadi 3 bagian utama. Bagian
                pertama yaitu modul 1,2 adalah modul awal yang merupakan perkenalan mahasiswa untuk melihat perkembangan
                ICT dalam pelayanan publik, diawali dengan konsep e-government dan perkembangannya hingga ke pengantar
                menuju digital governance. Kemudian bagian kedua ini terdiri dari 4 modul yaitu modul 3,4,5,6 membahas
                detil mengenai digital governance. Pada bagian ini mahasiswa dikenalkan konsep, faktor, strategi hingga
                studi kasus penerapan digital governance di pemerintahan dalam dan luar negeri. Bagian ketiga, yaitu
                terdiri dari modul 7,8,9 membahas isu-isu terkini terkait penerapan lebih lanjut digital governance ke
                arah big data dan revolusi industri ke-4 dimana isu-isu ini merupakan isu penting yang akan terus
                bergerak hingga 5-10 tahun perkembangan digital governance ke depannya.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Hukum Administrasi Negara</td>
            <td>3</td>
            <td>Mata kuliah ini diharapkan mampu memberikan pemahaman kepada masyarakat agar dapat memahami hukum
                administrasi negara dalam kajian hukum administrasi negara. Mata kuliah ini mempelajari negara hukum dan
                hukum administrasi negara, kedudukan, kewenangan, dan tindakan hukum pemerintah.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Perilaku Organisasi</td>
            <td>3</td>
            <td>Mata kuliah ini bertujuan memberi pemahaman kepada mahasiswa secara konseptual dan aplikasi mengenai
                pengaruh perilaku (behavioural) terhadap kinerja (performance) dan produktivitas kerja pada tingkat
                individual, kelompok dan organisasi</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Kepemimpinan</td>
            <td>3</td>
            <td>Mahasiswa mampu memahami dan menganalisa hubungan mampu menjelaskan memahami dan menganalisa,
                konsep-konsep, prinsip-prinsip dasar, dan ruang lingkup kepemimpinan dan mampu menganalisis
                masalah-masalah dan karakteristik kegiatan kepemimpinan secara umum dan khusus di dalam organisasi
                berdasarkan konsep dan pendekatan yang mendasarinya. Serta membandingkan sifat-sifat kepemimpinan yang
                digunakan terhadap kasus yang terjadi, berdasarkan pendapatnya sendiri baik secara  lisan, tertulis, dan
                visual dengan menggunakan sarana teknologi informasi      ( komputer, laptop, internet dan sarana
                penunjang lainnya).  Mata Kuliah Kepemimpinan membahas konsep-konsep, prinsip-prinsip, dan ruang lingkup
                kepemimpinan, kepemimpinan didalam organisasi dan beberapa kontroversi dalam kepemimpinan,
                pendekatan-pendekari dalam kepemimpinan, IQ,EQ,AQ,SQ dalam kepemimpinan, kelompok dan tim, pertumbuhan
                dan perkembangan tim, mengembangkan kualitas sebagai anggota tim, serta peran pemimpin dalam tim,
                hakikat kekuasaan dan pengaruh, dinamika organisasi dan konflik organisasional serta manajemen konflik,
                komunikasi kepemimpinan, peranan pemimpin dalam kelompok pengambilan keputusan, visi kepemimpinan,
                peranan pemimpin dalam membangun budaya organisasi, dan kepemimpinan dalarn perubahan.</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>SEMESTER IV</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>NO</td>
            <td>MATA KULIAH</td>
            <td>SKS</td>
            <td>DESKRIPSI MATA KULIAH</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Struktur &amp; Desain Administrasi Publik</td>
            <td>3</td>
            <td>Mata kuliah ini mengantarkan mahasiswa untuk mengenali ruang lingkup kajian Struktur dan Desain
                Organisasi sebagai salah satu faktor penting yang mempengaruhi perilaku individu dan kelompok di
                dalam organisasi. Mata kuliah ini pada intinya mengupas  proses pemilihan dan pengimplementasian
                konfigurasi struktural untuk sebuah organisasi. Disajikan dalam lima pokok bahasan utama yang mencakup
                konsep dasar struktur organisasi, komponen dasar mendesain struktur organisasi, desain organisasi,
                Mitzbergs organizational types, dan Dimensi Struktur Organisasi menurut Richard L Daft .</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Komunikasi Organisasi</td>
            <td>3</td>
            <td>Mata kuliah ini menjelaskan aspek-aspek dalam organisasi dan implikasinya pada komunikasi organisasi,
                tidak hanya komunikasi di dalam organisasi (communication in organization) tetapi juga komunikasi
                organisasi dengan lingkungannya (external communication). Mata kuliah ini diawali dengan pemahaman
                tentang organisasi  yang dikaitkan dengan aspek inovasi, konflik dan pengambilan keputusan, iklim dan
                budaya organisasi.  aspek-aspek ini bersentuhan dengan komunikasi organisasi.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Manajemen Kinerja Organisasi</td>
            <td>3</td>
            <td>Mata kuliah ini membahas konsep dasar manajemen organisasi berbasis kinerja dengan menggunakan Balanced
                Scored Card (BSC). Pendekatan dan metode manajemen kinerja, penerapan manajemen kinerja, strategi
                mencapai sasaran kinerja, pengukuran kinerja, dan laporan kinerja</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Administrasi Pajak</td>
            <td>3</td>
            <td>Mata kuliah ini membahas konsep dasar perpajakan, perencanaan dan strategi pajak, serta kebijakan dalam
                administrasi perpajakan.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Kebijakan Publik</td>
            <td>3</td>
            <td>Subjek utama kajian mata kuliah Kebijakan Publik yaitu kajian yang mencakup konsep yang berkaitan dengan
                teori-teori Kebijakan Publik, bentuk dan dinamika Kebijakan Publik di Indonesia, aspek statis dan
                dinamis Kebijakan Publik, serta fungsi Kebijakan Publik yang mencakup ranah kesejahteraan publik yang
                juga dikaitkan dengan aspek kultur sosial politik dan internasional. </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Sedangkan ruang lingkup bahasan yang diperhatikan berkaitan dengan: </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>1. Konsep Kebijakan Publik </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>2. Pengantar Formulasi, Implementasi, Evaluasi dan analisis Kebijakan Publik di Indonesia  </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>3. Dinamika, termasuk masalah-masalah dan studi kasus yang terjadi di Indonesia </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>4. Proses Kebijakan Publik</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>5. Studi Kasus Kebijakan Publik di Indonesia</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Metode Penelitian Sosial</td>
            <td>3</td>
            <td>Secara umum Metode Penelitian Sosial mengenalkan kepada mahasiswa mengenai pemetaan paradigma dalam ilmu
                sosial, metode penelitian kualitatif dan kuantitatif dalam Ilmu Sosial, dan penyusunan proposal
                penelitian. Sedangkan untuk aplikasinya, mahasiswa dibimbing untuk menyusun draft proposal penelitian
                sebagai bentuk tugas akhir dan dipresentasikan.</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Otonomi Daerah &amp; Desa</td>
            <td>3</td>
            <td>Menguraikan tentang sistem administrasi pemerintahan daerah dan desa. Dalam materi pemerintahan daerah
                dan desa yang meliputi administrasi eksekutif dan administrasi legislatif, termasuk didalamnya otonomi
                daerah: arti penting otonomi daerah, filosofi otonomi daerah, kebijakan otonomi daerah, implementasi
                otonomi daerah, sisi kritis otonomi daerah dan memberikan wawasan tentang prospek otonomi daerah bagi
                pemerintah maupun legislatif daerah dalam konteks ilmu administrasi publik. sedangkan dalam materi
                pemerintahan desa meliputi sistm pemerintahan desa dan perkembangannya di Indonesia, serta sistem
                pemerintahan desa saat ini</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>SEMESTER V</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>NO</td>
            <td>MATA KULIAH</td>
            <td>SKS</td>
            <td>DESKRIPSI MATA KULIAH</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Manajemen Perkantoran</td>
            <td>3</td>
            <td>Mata kuliah ini memfokuskan pada tata naskah dinas yang menjadi salah satu aspek penting suatu
                organisasi. Kemudian materi manajemen perkantoran spesifik lainnya membahas mengenai: Pengertian 
                administrasi, manajemen, kantor, menetapkan ruang lingkup manajemen perkantoran, organisasi kantor,
                manajer kantor, komunikasi kantor, formulir, surat menyurat (korespondensi), metode, prosedur dan
                sistem, laporan, kearsipan, perencanaan gedung, tata ruang, mesin dan perabot kantor.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Etika Administrasi Publik</td>
            <td>3</td>
            <td>Mata kuliah ini membahas tentang pengertian, ruang lingkup, dan pentingnya etika dalam organisasi
                publik. Selanjutnya dibahas mengenai berbagai masalah moral dan etis yang timbul dalam kebijakan publik
                dan pelayanan publik. Dibahas pula seperangkat kewajiban, tanggung jawab, dan tugas khusus dalam
                peningkatan efisiensi dan pelayanan publik.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Pengembangan Organisasi</td>
            <td>3</td>
            <td>Pengembangan Organisasi merupakan mata kuliah yang menjadi sub kajian Administrasi Publik yang diarahkan
                pada upaya menyelesaikan masalah-masalah yang dihadapi organisasi sektor publik. Mata kuliah ini
                menyajikan mengenai tujuan dan sasaran manajemen perubahan, dan pengembangan organisasi, yang mencakup:
                Teori perubahan, tipologi perubahan, reformasi manajemen public dan pengembangan organisasi, Relasi
                Antara konflik dengan pengembangan organisasi, Relasi Antara konflik dengan pengembangan organisasi,
                Dialog dalam Pengembangan Organisasi, Nilai dasar dan Prospek dan Kekuasaan dan Politik, teknik-teknik
                melakukan perubahan, dan resistensi serta cara mengatasinya.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Formulasi Kebijakan Publik</td>
            <td>4</td>
            <td>Mata kuliah ini diharapkan akan memberi pemahaman yang lengkap mengenai proses dan formulasi kebijakan
                publik kepada mahasiswa dengan mengajak untuk berdiskusi, berpikir kritis dan menghayati mekanisme
                pembuatan kebijakan publik dalam konteks sosial di Indonesia. Asumsi yang dipakai adalah bahwa perumusan
                kebijakan publik sangat dipengaruhi oleh unsur?unsur sistemik dan kontekstual seperti sistem politik
                yang berlaku, mekanisme tawar?menawar di dalam kebijakan publik, peran para aktor maupun stake?holders,
                proses komunikasi sosial maupun nilai?nilai sosial dan budaya yang berkembang didalam masyarakat. Proses
                ex-Post dan Ex-Ante yang menjadi bagian untuk memprediksi masa depan sebuah kebijakan menjadi salah satu
                yang akan dikembangkan, selain berbagai penelitian yang berkaitan dengan formulasi kebijakan publik.
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Metode Penelitian Kuantitatif</td>
            <td>3</td>
            <td>Mata kuliah Metodologi Penelitian Kuantitatif ini bertujuan untuk membekali para mahasiswa pengetahuan,
                pemahaman dan penerapan metode penelitian kuantitatif dalam rangka penyusunan skripsi. Dalam perkuliahan
                dibahas pemahaman penelitian kuantitatif, langkah-langkah penelitian kuantitatif mulai dari penentuan
                topik, identifikasi permasalahan, tinjauan pustaka, penentuan fokus masalah, penentuan variabel, disain
                dan perancangan, teknik pengumpulan data, analisis dan penarikan kesimpulan.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Metode Penelitian Kualitatif</td>
            <td>3</td>
            <td>Mata kuliah ini membahas materi berkenaan dengan konsep dasar penelitian kualitatif dengan isu-isu
                administrasi publik, bagaimana mengembangkan asumsi dalam penelitian kualitatif, teknik pengumpulan data
                dalam penelitian kualitatif, teknik analisis dalam penelitian kualitatif, jenis-jenis penelitian
                kualitatif, desain wawancara, desain observasi, desain studi kasus, dan desain lainnya dalam konteks
                penelitian kualitatif administrasi publik yang secara keseluruhan dipraktikan dengan menggunakan
                Participatory Rural Aprraisal (PRA)</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Keuangan Negara</td>
            <td>3</td>
            <td>Pada mata kuliah ini mahasiswa belajar tentang konsep, ruang lingkup, dan dasar hukum keuangan negara
                dan keuangan daerah. Pembahasan mata kuliah ini meliputi struktur anggaran negara dan daerah, konsep
                anggaran negara, penganggaran negara, dan siklus anggaran negara dan daerah.</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>SEMESTER VI</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>NO</td>
            <td>MATA KULIAH</td>
            <td>SKS</td>
            <td>DESKRIPSI MATA KULIAH</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Manajemen Pertumbuhan Wilayah</td>
            <td>3</td>
            <td>Mata kuliah ini membahas tentang berbagai konsep pembangunan, khususnya pembangunan nasional,
                perencanaan pembangunan nasional dan pembangunan daerah (wilayah) serta teori-teori spasial dalam
                pembangunan wilayah. Selanjutnya dibahas pula mengenai pergeseran paradigma pembangunan, beberapa isu
                utama pengembangan wilayah di Negara Dunia Ketiga, serta indikator pembangunan. Berikutnya adalah
                keterkaitan sektor, sistem produksi dan  spasial, serta penataan ruang berikut pengelolaan sumberdaya
                bersama.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Manajemen Aset</td>
            <td>3</td>
            <td>Mata kuliah manajemen aset membahas tentang konsep manajemen aset beserta siklus pengelolaan aset milik
                negara/daerah yang diantaranya meliputi perencanaan dan penganggaran, pengadaan, pengoperasian dan
                pengawasan aset.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Metode Penelitian Administrasi</td>
            <td>4</td>
            <td>Mata Kuliah ini merupakan paripurna dari mata kuliah rumpun metode peneltian. Pada MK MPA, mahasiswa
                dapat menyusun proposal riset skripsi, diakhir pertemuan diselenggarakan seminar proposal riset nya yang
                telah melalui proses bimbingan oleh dosen pembimbing</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Administrasi Pembangunan</td>
            <td>3</td>
            <td>Mata kuliah ini menekankan pada pengembangan administrasi publik/negara di negara berkembang dan Negara
                maju, dengan ruang lingkup yang meliputi konsep, kebijakan, organisasional, kelembagaan, dan kepegawaian
                serta administrasi program pembangunan yang berjalan di Indonesia khususnya</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Implementasi Kebijakan Publik</td>
            <td>3</td>
            <td>Mata kuliah Implementasi Kebijakan Publik akan menjelaskan Pelaksanaan keputusan kebijaksanaan dasar,
                biasanya dalam bentuk undang-undang, namun dapat pula berbentuk perintah-perintah atau
                keputusan-keputusan eksekutif yang penting atau keputusan badan peradilan. Lazimnya keputusan tersebut
                mengidentifikasikan masalah yang ingin diatasi, menyebutnya secara tegas tujuan atau sasaran yang ingin
                dicapai, dan berbagai cara untuk menstrukturkan atau mengatur proses implementasinya.      </td>
        </tr>
        <tr>
            <td>6</td>
            <td>Perbandingan Administrasi Publik</td>
            <td>3</td>
            <td>Mata Kuliah ini memfasilitasi  mahasiswa/i untuk memahami konsep administrasi publik dalam konteks
                kerangka politik dan demokrasi yang lebih luas melalui beberapa metode dan pendekatan perbandingan.
                Dalam kajian ini struktur, perilaku dan proses dalam sistem administrasi publik dilihat sebagai konsep
                yang dinamis yang dipengaruhi oleh faktor eksternal dan internal dalam konteks sosial ekonomi dan budaya
                yang berbeda. Perkuliahan ini meliputi beberapapokok bahasan perkuliahan mencakup konsep dasar
                perbandingan administrasi publik dan sejarah perkembangannya, teori-teori, metodologi dan faktor-faktor
                yang berpengaruh terhadap bekerjanya sistem Administrasi Publikbaik di negara maju maupun
                berkembang.Fokus studi perbandingan menitikberatkan pada bagaimana Birokrasi dan Sistem Administrasi
                Publik di berbagai negara mengalami transformasi sesuai dengan perkembangan jaman dan menjadi bagian
                dalam proses globalisasi dengan mendiskusikan Kebijakan, Strategi, dan Peran Administrasi Publik dalam
                mendukung agenda SDGs.</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>SEMESTER VII</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>NO</td>
            <td>MATA KULIAH</td>
            <td>SKS</td>
            <td>DESKRIPSI MATA KULIAH</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Evaluasi Kebijakan Publik</td>
            <td>3</td>
            <td>Evaluasi kebijakan dalam perspektif alur proses/siklus kebijakan publik, menempati posisi terakhir
                setelah implementasi kebijakan, sehingga sudah sewajarnya jika kebijakan publik yang telah dibuat dan
                dilaksanakan lalu dievaluasi. Dari evaluasi akan diketahui keberhasilan atau kegagalan sebuah kebijakan,
                sehingga secara normatif akan diperoleh rekomendasi apakah kebijakan dapat dilanjutkan; atau perlu
                perbaikan sebelum dilanjutkan, atau bahkan harus dihentikan. Evaluasi juga menilai keterkaitan antara
                teori (kebijakan) dengan prakteknya (implementasi) dalam bentuk dampak kebijakan, apakah dampak tersebut
                sesuai dengan yang diperkirakan atau tidak. Dari hasil evaluasi pula kita dapat menilai apakah sebuah
                kebijakan/program memberikan manfaat atau tidak bagi masyarakat yang dituju. Secara normatif fungsi
                evaluasi sangat dibutuhkan sebagai bentuk pertanggung-jawaban publik, terlebih di masa masyarakat yang
                makin kritis menilai kinerja pemerintah.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>HRM</td>
            <td>3</td>
            <td>Mata Kuliah Pilihan</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Mata Kuliah ini merupakan kelas internasional bekerjasama dengan SKKU Korea dengan pengajar adalah dari
                Dosen SKKU dan Prodi Adm Publik Unpad. Mata Kuliah ini menjelaskan mengenai Proses Manajemen Sumber Daya
                Manusia yang ditekankan pada penjelasan kasus-kasus di berbagai belahan dunia. Pengantar bahasa yang
                digunakan adalah Bahasa Inggris./  Public personnel management is the administration of and policy
                making for people and positions in the public sector and is critical to the successful implementation of
                govemment programs. The HRM in the public organizations: An Essential Guide outlines the implementation
                role oh humen resource management (HRM) policies and pratices in increasing quality of service,
                government efficiency, and effectiveness of public organizations </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ekologi Administrasi</td>
            <td>3</td>
            <td>Mata Kuliah Pilihan</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Mata kuliah ini menjelaskan mengenai manajemen lingkungan dalam Administrasi Publik. Menekankan pada
                lingkungan yang dapat mempengaruhi dalam Administrasi Publik, baik di Organisasi, maupun juga pada
                kebijakan. Mahasiswa diharapkan mampu menganalisis lingkungan administrasi secara global yang dapat
                dikelola dengan mengidentifikasi dan pengukuran terhadap pengaruh lingkungan dimaksud, serta merumuskan
                strategi antisipasinya </td>
        </tr>
        <tr>
            <td>4</td>
            <td>E-Gov &amp; E-Strategy</td>
            <td>3</td>
            <td>Mata Kuliah Pilihan</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Mata Kuliah ini merupakan kelas internasional bekerjasama dengan SKKU Korea dengan pengajar adalah dari
                Dosen SKKU dan Prodi Adm Publik Unpad./ A new paradigm of e-government and e-strategy facing the smart
                revolution and knowledge society in this 21st century. The course uses the theories from the field of
                public policy, new public management, and new governance to link the gap between the theories of
                e-governance and the traditional model of public administration </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Gvernansi Publik</td>
            <td>3</td>
            <td>Mata Kuliah Pilihan </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Mata kuliah Governance menyajikan berbagai konsep-konsep mengenai pemerintahan dan tata kelola
                pemerintahan. Secara lebih spesifik dan operasional mata kuliah ini juga akan mengeksplorasi berbagai
                konsep tata kelola pemerintahan dalam berbagai perspektif yang sering digunakan saat sekarang ini. Mata
                kuliah ini merupakan salah satu sarana untuk memahami berbagai konsep politik dan pemerintahan serta
                perkembangan dinamika tata kelola pemerintahan.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Revormasi Administrasi</td>
            <td>3</td>
            <td>Mata kuliah reformasi administrasi mencakup konsep yang berkaitan dengan teori-teori reformasi
                admnistrasi yang didalam nya mencakup Birokrasi, bentuk dan dinamika birokrasi di Indonesia, Aspek
                statis dan dinamis dalam birokrasi pemerintahan baik pusat dan daerah serta prinsip prinsip sebuah
                sistem birokrasi dikaitkan dengan aspek kultur sosial politiknya. Sedangkan scope bahasan yang
                diperhatikan berkaitan dengan tiga hal  1. Konsep reformasi administrasi 2. Ciri dan struktur reformasi
                administrasi di indonesia  3. Dinamika, termasuk masalah masalah dan pembenahan atau reformasi
                administrasi.  Kuliah akan diperkaya dengan kajian empiris.</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Magang/KKN</td>
            <td>3</td>
            <td>Mahasiswa melakukan praktik di organisasia pemerintah, swasta atau organisasi non pemerintah (HSO lokal,
                Nasional ataupun internasional) dalam mempelajari secara empiris mengenai topik kajian yang diangkat
                oleh mahasiswa. Proses MK ini dibimbing langsung oleh pembimbing skripsi mahasiswa</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Social Welfare &amp; Social Policy</td>
            <td>3</td>
            <td>Mata Kuliah Pilihan</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Mata Kuliah ini merupakan kelas internasional bekerjasama dengan SKKU Korea dengan pengajar adalah dari
                Dosen SKKU dan Prodi Adm Publik Unpad./ The course introduces a range of vital social policies in both
                the Korean and global context and describes the most important programs created by those policies. The
                course emphasizes understanding the strenghts and weaknesses of social policies as well as the intended
                effects of these policies and how they are influenced by various contextual factors such as labor market
                outcoes adn family structure. </td>
        </tr>
        <tr>
            <td>9</td>
            <td>Conflict Management</td>
            <td>3</td>
            <td>Mata Kuliah Pilihan</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Mata kuliah ini bertujuan untuk memberikan pemahaman dan keahlian kepada mahasiswa mengenai konflik
                dalam organisasi publik, hingga mahasiswa dapat mengidentifikasi sumber-sumber konflik, dan menangani
                konflik menjadi suatu kekuatan dalam mendukung pencapaian tujuan organisasi. Selain itu dalam Manajemen
                Konflik dapat dijadikan suatu pendekatan pengelolaan konflik yang menyediakan kerangka strategis terkait
                antar organisasi. Pendekatan ini berkaitan dengan konsep konflik dan strategi untuk mengelola konflik
                secara dalam baik dalm organisasi maupun antar/luar organisasi.</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Disaster Management</td>
            <td>3</td>
            <td>Mata Kuliah Pilihan</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Disaster Management menjadi sub-kajian dari disiplin ilmiah Administrasi Publik. dalam Mata kuliah
                Disaster Management mahasiswa akan dibawa dalam pemahaman mengenai deskripsi, eksplanasi dan evaluasi
                mengenai disaster management, sehingga mahasiswa dapat memahami dan berperan dalam penanganan masalah
                bencana alam melalui siklus manajemen bencana. Materi perkuliahan meliputi: siklus deskripsi bencana,
                manajemen bencana, manajemen resiko dan krisis, menilai dan respon terhadap resiko, perencanaan
                penanganan bencana berdasarkan manajemen krisis dan resiko. </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </tbody>
</table>
<style>
    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>