<article>
    <figure><img src="file:///android_asset/organisasi-images/asep-sumaryana-219x300.jpg" /></figure>
    <h3>Dr. Drs. Asep Sumaryana, M.Si</h3>
    <p>Kepala Departemen Administrasi Publik</p>
</article>
<br>
<article>
    <figure><img src="file:///android_asset/organisasi-images/nina-karlina-223x305.jpg" /></figure>
    <h3>Dr. Nina Karlina, S.IP.,M.Si.</h3>
    <p>Ketua Program Studi Administrasi Publik</p>
</article>
<br>
<article>
    <figure><img src="file:///android_asset/organisasi-images/Foto-Profil-Unpad-dindin196807312007011001-225x305.jpg" />
    </figure>
    <h3>Dindin Makhmuddin, S.Sos., MT.</h3>
    <p>Sekretaris Program Studi Administrasi Publik</p>
</article>
<br>
<article>
    <figure><img src="file:///android_asset/organisasi-images/Hadi-225x300.jpg" /></figure>
    <h3>Hadi Sumarna, S.AP</h3>
    <p>Tenaga Kependidikan Departemen Administrasi Publik</p>
</article>
<br>
<article>
    <figure><img src="file:///android_asset/organisasi-images/nandang-225x286.jpg" /></figure>
    <h3>Nandang Hasanudin</h3>
    <p>Tenaga Kependidikan Prodi Administrasi Publik</p>
</article>
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    p,
    h3 {
        text-align: center;
    }
</style>