<p>Program studi Administrasi Publik Fakultas Ilmu Sosial dan Ilmu Politik (FISIP) Unpad merancang kurikulum agar
    mahasiswa mampu &nbsp;menguasai konsep dan teori organisasi, manajemen sektor publik, kepentingan publik dan
    kebijakan publik, serta metode dan teknik bagi penyelesaian masalah dalam penyelenggaraan administrasi publik.</p>
<p>Lulusan program studi ini memiliki kompetensi dalam hal pengelolaan dan manajemen organisasi publik, seperti:
    Manajemen Sumber Daya Manusia, Manajemen Kinerja, Sistem Pemerintah Daerah, Akuntansi Sektor Publik, Perbendaharaan
    Negara, <em>e-Government</em>, Desain Organisasi baik untuk Instansi Pemerintah maupun Swasta.</p>
<p>Program studiAdministrasi Publik FISIP Unpad menerapkan perkuliahan dengan metode <em>Student Center Learning
    </em>(SCL) dan penggunaan teknologi&nbsp; <em>e-learning</em>. Salah satu keunggulan program studi ini adalah
    pembelajaran yang dilakukan berbasis penelitian, yaitu dengan mata kuliah praktikum “Metoda Penelitian Administrasi
    Publik/Ristik”. Dengan program ini, mahasiswa dibiasakan dengan menganalisa berbagai fenomena sosial/kajian
    administrasi negara/publik dengan cara penelitian langsung ke lapangan atau lokus penelitian.</p>
<p>Gelar yang diperoleh untuk para lulusan adalah Sarjana Ilmu Politik (S.IP.).</p>

<style>
    p {
        text-align: justify;
    }
</style>