<p>Profil lulusan Program Studi Administrasi Publik FISIP Universitas Padjadjaran mengacu pada profil lulusan yang telah
    disepakati dalam asosiasi keilmuan (<em>Indonesian Association for Public Administration</em>/IAPA) dan juga hasil
    dari penajaman visi (<em>scientific vision</em>) dan misi Program Studi beserta hasil analisis lingkungan Program
    Studi dari perkembangan dan kebutuhan tuntutan masyarakat dan dunia kerja (<em>market signal</em>). Secara garis
    besar Profil lulusan Program Studi Administrasi Publik FISIP berdasarkan 3 kompetensi utama program studi yaitu:
    Organisasi Publik, Manajemen Publik, dan Kebijakan Publik yang berbasis riset.</p>
<p>Kemudian dari ketiga kompetensi tersebut Program Studi Administrasi Publik FISIP Unpad menyusun profil lulusannya
    sebagai berikut:</p>
<ol>
    <li>Administrator publik atau manajer tingkat pertama pada organisasi publik, bisnis, organisasi nirlaba, dan
        lainnya.</li><br>
    <li>Kosultan dan perancang desain dan struktur organisasi public</li><br>
    <li>Birokrat (aparatur) yang mampu menggunakan teknologi informasi dan komunikasi dalam penyelesaian tugas dan
        masalah publik.</li><br>
    <li>Analis kebijakan yang mampu merancang dan menganalisa pembuatan keputusan strategis.</li><br>
    <li>Pengelola kegiatan lapangan di sektor publik yang sadar dengan nilai-nilai publik.</li>
</ol>

<style>
    p,
    li {
        text-align: justify;
    }
</style>