<p>Lulusan program studi Administrasi Publik FISIP Unpad banyak yang bekerja pada bidang yang sesuai dengan keahliannya,
    diantaranya yaitu di Badan Usaha Milik Negara (BUMN), instansi-instansi pemerintah, lembaga keuangan, dan lembaga
    pelayanan publik (swasta maupun pemerintah).</p>

<style>
    p {
        text-align: justify;
    }
</style>