<h4> 1958 </h4>
<p>Ikatan Sarjana Ilmu Politik Indonesia (ISIPI) cabang Bandung memprakarsai berdirinya suatu lembaga tinggi yang
        membina administrasi negara dan administrasi niaga</p>
<br>
<h4> 1958 </h4>
<p>Pada tahun 1958, dibentuk Yayasan Padjadjaran (YP Unpad) yang bertujuan membantu perkembangan Unpad dengan cara mendirikan
        fakultas-fakultas swasta. Pada waktu itu, diharapkan apabila fakultas-fakultas swasta tersebut telah dapat
        mandiri akan diambil alih dan menjadi fakultas di bawah Unpad.</p>
<br>
<h4> 13 Oktober 1958 </h4>
<p>Terbentuklah Fakultas Administrasi Negara dan Niaga sebagai fakultas yang berada dibawah asuhan Yayasan Pembina
        Universitas Padjadjaran</p>
<br>
<h4> 12 Agustus 1960 </h4>
<p>Fakultas Administrasi Negara dan Niaga diubah menjadi Fakultas Sosial dengan jurusan jurusan yang tetap seperti
        semula yaitu Jurusan Administrasi Negara dan Jurusan Administrasi Niaga</p>
<br>
<h4> 1961 </h4>
<p>Fakultas Sosial Politik yang tetap berkomitmen pada pembinaan ilmu administrasi menganggap perlu untuk melengkapi
        jurusan-jurusanya dengan membuka Jurusan Akuntansi. Tujuannya untuk mendidik dan membina mahasiswa yang akan
        bekerja sebagai cost accountant, controller, institusional account dan government accountant. Pada bulan
        desember 1961, diselenggarakan Musyawarah Ilmu Administrasi Negara dan Niaga di Jakarta. Tujuan Musyawarah
        adalah untuk mencari bentuk dan isi yang mendekati keseragaman dalam pembinaan Ilmu Administrasi </p>
<br>
<h4> 1961 </h4>
<p>Pada tahun 1961, dibuka fakultas negeri cabang Unpad yaitu Fakultas Sospol Unpad cabang Priangan Timur yang berkedudukan di
        Tasikmalaya dengan jurusan terdiri dari : (1) Jurusan Administrasi Negara dan (2) Jurusan Administrasi Niaga</p>
<br>
<h4> 1962 </h4>
<p>Pada 17-20 November 1962, di Bandung telah diselenggarakan konferensi antar-Fakultas sejenis dari berbagai perguraun
        tinggi di dalam lingkungan PTIP. Sejalan dengan pembinaan dan pengembangan Ilmu Administrasi di fakultas Sospol
        Unpad di Bandung</p>
<br>
<h4> 1968 </h4>
<p>Pada tahun 1968, Fakultas Sospol Unpad Cabang Priangan Timur Tasikmalaya diintegrasikan dengan Fakultas Sospol Unpad
        di Bandung, pada tahun itu juga Jurusan Administrasi Niaga dan Akuntansi pada Fakultas Sospol Unpad dipindahkan
        dan berintegrasi dengan Fakultas Ekonomi Unpad.</p>

<style>
        p,
        h4 {
                text-align: justify;
        }
</style>