<ol>
    <li>
        Menghasilkan lulusan yang kompeten di bidang organisasi, manajemen, dan kebijakan publik serta memiliki moral
        tinggi.
    </li>
    <br>
    <li>
        Menghasilkan lulusan yang mampu bersaing di tingkat nasional maupun internasional.
    </li>
    <br>
    <li>
        Menghasilkan kualitas dan kuantitas penelitian yang menitikberatkan kepada isu-isu kontemporer dalam lingkup
        lokal, nasional dan internasional.
    </li>
    <br>
    <li>
        Menghasilkan penelitian yang bermutu dalam pengembangan keilmuan.
    </li>
    <br>
    <li>
        Menghasilkan penelitian yang berkontribusi pada pemecahan masalah dalam kehidupan bermasyarakat, berbangsa dan
        bernegara.
    </li>
    <br>
    <li>
        Menghasilkan kegiatan pengabdian masyarakat dengan melibatkan dosen dan mahasiswa yang menunjang pengembangan
        keilmuan Administrasi Publik.
    </li>
    <br>
    <li>
        Menghasilkan kegiatan pengabdian masyarakat dalam rangka pengembangan kepribadian dan berkontribusi dalam
        mengatasi permasalahan dalam bidang Administrasi Publik dalam tingkat lokal, nasional, maupun internasional.
    </li>
    <br>
    <li>
        Terlaksananya sistem manajemen pendidikan yang menerapkan prinsip penjaminan mutu pendidikan tinggi, baik pada
        masukan, proses maupun keluaran berdasarkan aturan perundang-undangan, visi, misi, dan nilai-nilai dasar
        Universitas Padjadjaran.
    </li>
    <br>
    <li>
        Terwujudnya kemitraan dengan berbagai organisasi, baik dalam dan luar negeri untuk kepentingan penyediaan
        kesempatan magang dan praktikum pembelajaran, promosi bersama, peluang melakukan kerjasama Tri Dharma dan
        pendanaan riset serta beasiswa bagi mahasiswa. Terbentuknya manajemen program studi yang transparan dan
        akuntabel serta memiliki daya saing yang tinggi yang didukung oleh sarana dan prasarana yang memadai.
    </li>
    <br>
    <li>
        Terwujudnya hubungan kerja sama dengan berbagai mitra kerja, baik dalam maupun luar negeri.
    </li>
</ol>

<style>
    li {
        text-align: justify;
    }
</style>