<h3>VISI</h3>

<p>Pada Tahun 2025, menjadi pusat unggulan dalam menciptakan insan cerdas bidang administrasi dan kebijakan publik
    berdaya saing internasional</p>

<h3>MISI</h3>
<ol>
    <li>
        Melaksanakan pendidikan bidang administrasi publik yang bermutu dalam rangka menghasilkan lulusan yang
        berintegritas dan memiliki kompetensi dalam bidang organisasi, manajemen, dan kebijakan publik sehingga memiliki
        daya saing pada tingkat nasional dan internasional.
    </li><br>
    <li>
        Mengembangkan manajemen pendidikan dengan menerapkan prinsip pengembangan mutu berkelanjutan (quality
        improvement sustainability).
    </li><br>
    <li>
        Melaksanakan kolaborasi strategis dengan masyarakat, pemerintah, bisnis dan industri, institusi pendidikan,
        serta perguruan tinggi lain baik di dalam negeri maupun luar negeri secara berkesinambungan dengan menerapkan
        prinsip kesetaraan, kemitraan, dan saling percaya.
    </li><br>
    <li>
        Menghasilkan lulusan yang kompeten di bidang organisasi, manajemen, dan kebijakan publik serta memiliki
        integritas tinggi.
    </li><br>
    <li>
        Menghasilkan penelitian yang bermutu dalam pengembangan keilmuan administrasi publik
    </li><br>
    <li>
        Menghasilkan penelitian yang berkontribusi pada pemecahan masalah dalam kehidupan bermasyarakat, berbangsa, dan
        bernegara.
    </li><br>
    <li>
        Menghasilkan kegiatan pengabdian masyarakat dengan melibatkan dosen dan mahasiswa yang menunjang pengembangan
        keilmuan administrasi publik.
    </li><br>
    <li>
        Terlaksananya sistem manajemen pendidikan yang menerapkan prinsip pengembangan mutu pendidikan tinggi secara
        berkelanjutan, baik pada masukan, proses, maupun keluaran berdasarkan aturan perundang-undangan, visi, misi, dan
        nilai-nilai dasar Universitas Padjadjaran.
    </li><br>
    <li>
        Terbentuknya manajemen Program Studi yang transparan dan akuntabel serta memiliki daya saing yang tinggi yang
        didukung oleh sumberdaya manusia kompeten dan unggul, sarana dan prasarana, dan teknologi yang memadai.
    </li><br>
    <li>
        Terwujudnya jejaring (networking) kerjasama dengan berbagai mitra kerja dan stakeholder lainnya, baik dalam
        maupun luar negeri.
    </li><br>
</ol>
Download leaflet Administrasi Publik <a
    href="http://admpublik.fisip.unpad.ac.id/wp-content/uploads/2017/03/Leaflet-FISIP.pdf">Disini.</a>

<style>
    p,
    li {
        text-align: justify;
    }
</style>